<footer class="foot">
  <span class="foot__copy">&copy; 2023 {{ site:author | escape}}
    <ul class="foot__list">
      <li><a class="footer__link" href="https://github.com/stlajay" target="_blank">GitHub</a></li>
      <li><a class="footer__link" href="https://www.linkedin.com/in/stlajay/" target="_blank">LinkedIn</a></li>
      <li><a class="footer__link" href="https://www.twitter.com/stlajay/" target="_blank">Twitter</a></li>
      <li><a class="footer__link" href="/profiletree" target="_blank">Profiletree</a></li>
    </ul>
  </span>

  <ul class="foot__list">
    <span class="foot__copy">
      <li>Hello from India.</li>
      <li>{{ site.time | date: '%B %Y'}}</li>
    </span>
  </ul>


</footer>

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>