/***************** ALL STYLES ****************/
html {
  scroll-behavior: smooth;
  font-family: "Ink Free", Tahoma, cursive, sans-serif, -apple-system, Ubuntu, monospace;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
img {
	max-width: 100%;
}

a {
  text-decoration: none;
}

.content-wrap {
  max-width: 920px;
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
}

.content-wrap a {
  color: black;
}

.content-wrap a:hover {
  color: #FF0000;
}

/***************** BODY STYLES ****************/
body {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #323639;     /*********  color none nav  *****/
}

/***************** NAVBAR STYLES ****************/
/* https://icon-icons.com */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px;
  position: relative;
  text-transform: uppercase;
}

.header a {
  color: ghostwhite;
}

.header a:hover {
  color: seashell;
}

.header > .header_nav {
  text-decoration: none;
  font-weight: 720;
  font-size: 25px;
  line-height: 20px;
  text-align: center;
  padding: 14px 0;
}

.header > .desktop_nav {
  display: none;
}

.header > .phone_menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 100vh;
  background-color: none;   /* color none */
  backdrop-filter: blur(16px);
  z-index: 100;
  transition: left 0.5s ease;
}

.header > .phone_menu.active {  
  left: 0;
}

.phone_menu > ul {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 106px;
  margin-left: 28px;
}

.phone_menu > ul > li + li {
  margin-top: 40px;
}

.phone_menu > ul > li > a {
  font-size: 26px;
  font-weight: 600;
  line-height: 44px;
}

.header > .navbar {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > * + * {
  margin-top: 20px;
}

.navbar > * + * {
  margin-top: 3px;
}

.navbar > .nav_btn {
  width: 16px;
  height: 2px;
  border-radius: 2px;
}

.header > .navbar.active {
  z-index: 1000;
  position: fixed;
  right: 25px;
}

.nav_btn {
  background-color: white;
}

.active > .one {
  transform: rotateZ(-45deg) translate(-6px, 4px);
}

.active > .two {
  display: none;
}

.active > .three {
  transform: rotateZ(45deg) translate(0, 2px);
}

.nav_btn__ham.active {
}


/***************** MAIN-HOME STYLES ****************/
main {
  background-color: ghostwhite; /*********  color none nav  *****/
  color: darkslategray;
}

.main {
  /*background-image: url("/images/header-shapes\ mobile.png");*/
  background-repeat: no-repeat;
  background-size: cover;
  padding: 114px 0;
  background-color: #FFAC1C;
}

main > .main {
  border-radius: 0 0 0 100px;
  width: 100%;
  padding: 10%;
}

.main > .section_headbox,
.section_about > .about_top, {
  padding: 18px 24px;
}

.main > .section_headbox {
  display: flex;
  flex-direction: column;
}

.section_headbox > * + * {
  margin-top: 12px;
}

.section_headbox > .section_headtitle,
.headline-sec > .section_headtitle,
.outro__box > .healine-section__title {
  font-weight: 450;
  font-size: 64px;
  font-style: normal;
}

.section_headbox h3 {
  font-size: 24px;
  font-weight: 250;
  text-transform: uppercase;
}

.section_headtitle_sub {
  font-size: 48px;
  font-weight: 450;
  font-style: normal;
}

.section_headbox > .section_head_down,
.headline-sec > .section_head_down,
.outro__box > .section_head_down {
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
}

.section_headsub_title {
  font-weight: 500;
  color: seagreen;  /*********  color none nav  *****/
  line-height: 24px;
  font-size: 16px;
}


/***************** PROJECT STYLES ****************/
.projects {
  background: #F7FFF7;
}
.projects a {
  color: #2F3061;
}

.projects .project_btn {
  color: ghostwhite;
  background: darkslategray;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  border-style: solid;
  border-color: darkslategray;
  display: inline-block;
}
.projects .project_btn:hover {
  background: ghostwhite;
  border-style: solid;
  border-color: #FF0000;
  opacity: 0.8;
}

.project_item a:hover {
  color: dimgray;
}

.project-item {
  overflow: hidden;
  padding: 16px 0 16px 0;
}

.project_img img {
  border-radius: 8px;
  width: 80%;
  height: 80%;
  padding: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  position: sticky;
}

.project-item h3 {
  margin-top: 16px;
  text-transform: uppercase;
}

.project-item p {
  padding: 4px;
}

/***************** EXPERIENCE STYLES ****************/
.experience {
  background-color: palegreen;
  border-radius: 0 100px 0 0;
}
.job-item {
  padding: 16px 0 16px 0;
}

.job-item a:hover {
  color: #FF0000;
}

.job-summary {
  padding: 0 0 0px 16px;
}

/***************** EDUCATION STYLES ****************/
.education {
  background-image: url(../images/photos/edulanding_page.jpg);
  background-size: cover;
  background-position: top right;
  border-radius: 0 0 0 0;
  padding-bottom: 100px;
}

.education p {
  width: 60%;
}

.education-wrap {
  padding: 16px 0 16px 0;
}

.content-wrap h2 {
  font-size: 45px;
  font-weight: lighter;
}

/***************** FOOTER STYLES *******************/
/* https://iconmonstr.com/  */
footer {
  background-color: ghostwhite;
  padding: 2%;
}

.content_footer h2 {
  padding-bottom: 2.5%;
}

.footer_heading {
  font-size: 32px;
  font-weight: 400;
  color: darkslategray;
}

.content_footer {
  text-align: center;
}

.content_footer p {
  font-size: 16px;
  font-weight: 320;
  padding: 0.8%;
}

.content_footer a {
  color: black;
}

.content_footer a:hover {
  color: #FF0000;
}

.contact-list {
  padding: 0;
}
.contact-list ul {
  list-style-type: none;
}
.contact-list li {
  display: inline-block;
  justify-content: center;
  list-style-type: none;
  font-size: 16px;
  font-weight: 360;
  padding-right: 5px;
}

.contact-list img {
  float: left;
}

.contact-list a {
  color: darkslategray;
}

.contact-list a:hover {
  color: #FF0000;
}


/********************* RESPONSIVE DESIGN *********************/
/*************************************************************/

@media screen and (min-width: 768px) {
  .head_section > .section_headbox {
    max-width: 600px;
    margin: 0 auto;
  }

  .pop-up--container {
    max-width: 580px;
    margin: 30px auto;
  }

  .pop-up--container > .mobile {
    display: none;
  }

  .pop-up--container > .desktop {
    display: block;
  }

  .pop-up--container > .range > .mobile {
    display: none;
  }

  .pop-up--container > .range > .desktop {
    display: block;
  }

  .pop-up--container > .desktop > img {
    width: 600px;
  }

  .pop-up__header > .project-name {
    font-size: 40px;
    line-height: 52px;
  }

  .pop-up__footer > .options {
    width: 50%;
  }

  .work-section__box > .work-section__card {
    flex-direction: row;
  }

  .pop-up--container.active {
    margin-bottom: 30px;
  }

  
  .section_about > .about_top {
    max-width: 600px;
    margin: 0 auto;
  }

 
} /*** responsive ***/

/* desktop media query */
@media screen and (min-width: 1024px) {
  .header {
    padding: 10px 12px;
    margin: 15px 154px;
    display: flex;
    align-items: center;
  }

  .header > .mobile {
    display: none;
  }

  .desktop_nav {
    transform: translateY(50%);
  }

  .header > .desktop_nav {
    display: block;
  }

  .desktop_nav > ul {
    display: flex;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    line-height: 20px;
    list-style-type: none;
    text-align: center;
    color: white;
  }

  .desktop_nav > ul > li + li {
    margin-left: 32px;
  }

  /*.main {
    background-image: url("./images/Header-bg-desktop.png");
  }*/

  .main > .section_headbox {
    max-width: 920px;
    margin: 0 auto;
    padding: 0;
    animation: 0.75s 1 alternate slider;
  }

  @keyframes slider {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .outro__box > .section_headtitle {
    font-size: 72px;
    line-height: 52px;
    font-weight: 700;
  }

  .headline-sec > .section_headtitle,
  .main > .section_headbox > .section_headtitle {
    font-size: 72px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .outro__box > .section_head_down {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .headline-sec > .section_head_down,
  .main > .section_headbox > .section_head_down {
    font-size: 20px;
    line-height: 28px;
  }

  .section_about > .about_top {
    flex-direction: row;
    max-width: 1156px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .about_top > .headline-sec {
    width: 45%;
    padding-right: 22px;
  }

  .headline-sec > .section_headsub_title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .about_top > .language-section {
    width: 55%;
  }

  .headline-sec > .btn {
    width: 30%;
    padding: 12px;
  }

} /* responsiev */