//----------------------------------------------
@mixin btn-split($color, $borderColor: $color, $borderWidth: 1px, $pad: 0) {
  position: relative;

  padding: $pad;

  color: $color;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    border: $borderWidth solid $borderColor;
    transition: transform 200ms ease-in;
  }

  &:hover {
    &:before,
    &:after {
      transition: transform 200ms ease-out;
    }

    &:before {
      transform: translate3d(-$borderWidth - 1px, $borderWidth + 1px, 0);
    }

    &:after {
      transform: translate3d($borderWidth + 1px, -$borderWidth - 1px, 0);
    }
  }
}